/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
	font-family: sans-serif;
}
.alertify {
	width: 15%;
	height: 150px;
	margin: 5em auto;	
	background: rgba(255,255,255,0.5);
	border: 5px solid rgba( 75,174,208,1); /* browsers that don't support rgba */
	border: 5px solid rgba( 75,174,208,1);
	border-radius: 5px;
	}
	.alertify-text {
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 4px;
	}
	.alertify-button {
		border-radius: 4px;
		color: rgba(0,0,0,1);
		font-weight: bold;
		padding: 6px 15px;
		text-decoration: none;
		box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);

	}

	.alertify-button:focus {
		box-shadow: 0 0 15px #2B72D5;
	}
	.alertify-button:active {
		position: relative;
		box-shadow: inset 0 2px 4px rgba(220,227,233,.15), 0 1px 2px rgba(220,227,233,.05);
	}
		.alertify-button-cancel,
		.alertify-button-cancel:hover,
		.alertify-button-cancel:focus {
			background-color: rgba(89,122,150,1);
			/*border: 1px solid #D83526;*/
		}
		.alertify-button-ok,
		.alertify-button-ok:hover,
		.alertify-button-ok:focus {
			background-color: rgba(220,227,233,0.5);
			/*border: 1px solid #3B7808;*/
		}


