*{
    margin: 0;
    padding: 0;
}

p { font-family: Verdana; font-size: 1em;}
a { color: #ff670f; text-decoration: none; }

header {
    width: 96.4%;
    height: 2.5em;
    margin-bottom :1em;
    padding: 1.5em; 
    border-bottom: 0.5em solid #000;
}
    
    h1 {
        width: 15%;
        float: left;
    }
    nav {
        width: 80%;
        float: left;
    }
        .menu, .log { list-style: none; }
        .menu li, .log li { padding: 0.3em;  display: inline-block;}

        .menu, .log { float: left; margin-left:15em ; }
        .log { float: right; }



#container {
    width: 100%;
    height: auto;
}



section {
    width: 100%;
    height: 30em;
    border-bottom: 1em solid #333;
}
aside {
    width: 20%;
    border-right: 0.5em double #333;
}

.indexfooter {
    height: 10em;
    width: 100%;
    background-color: #666;
}


/* REGISTER */

#log { 
    width: 40%;      
    margin: 3em auto; 
    border-radius: 2%;
     -webkit-box-shadow: 0px 0px 2px 2px rgba(192,192,192,0.41);
        -moz-box-shadow: 0px 0px 2px 2px rgba(192,192,192,0.41);
        box-shadow: 0px 0px 2px 2px rgba(192,192,192,0.41);
 }
.nav-register { list-style: none; }
.nav-register li { display: inline-block; }
.nav-register li a{ 
    width: 50%; 
    color: #999;
    background-color:  #ffc578;
     
    padding: .5em; 
    border-radius: 5%; 
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;

}

.active a{   background-color: blue;}
.nav-register > li.active > a,
.nav-register > li.active > a:hover,
.nav-register > li.active > a:focus {
    color: #000; 
    background-color: #ff670f;
}


#clientregiter, #profregiter, #login{
    width: 80%;
    height: 20em;
    margin: 1em 2em;
    padding: 1em;
       
}
    input, select {
        width: 95%;
        padding: 0.5em;
        border-radius: 5%;
        -webkit-box-shadow: 1px 2px 0px 0px rgba(227,224,227,1) outset;
        -moz-box-shadow: 1px 2px 0px 0px rgba(227,224,227,1) outset;
        box-shadow: 1px 2px 0px 0px rgba(227,224,227,1) outset;     
        margin: 0.5em 0;
    }

    label, select { font-size: 0.8em; font-family: Arial; font-weight: bold;}
    select { width: 100%;}
    .submit { 
        padding: 0.5em; 
        box-shadow: none;
        border-radius: 5%; 
        font-weight: bold;
background: rgb(255,183,107); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 25%, rgba(255,124,0,1) 59%, rgba(255,127,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(25%,rgba(255,167,61,1)), color-stop(59%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 25%,rgba(255,124,0,1) 59%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 25%,rgba(255,124,0,1) 59%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 25%,rgba(255,124,0,1) 59%,rgba(255,127,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 25%,rgba(255,124,0,1) 59%,rgba(255,127,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */


    }
    .submit:hover { 
background: rgb(255,197,120); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,197,120,1) 1%, rgba(251,157,35,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,197,120,1) 1%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,197,120,1) 1%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,197,120,1) 1%,rgba(251,157,35,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,197,120,1) 1%,rgba(251,157,35,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */


    }


/************ USER PROFILE ***********/

