*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 14px;
}

html, body { height: 100%;}
body { background-color:  rgb(255, 255, 255) }
a { text-decoration: none; color: rgba( 43,126,126,1);}
button { padding: 0.5em;}
h3 { font-size: 16px;}

/***** TOP NAV ****/

#topnav {
    width: 98%;
    height: 38px;
    padding: 1%;
    color: #FFF;
    /*background-color: rgba( 255, 255, 255,0.2);*/
    border-bottom: 2px double rgba(89,122,150,1);


}
    .logo a{
        width: 15%;
        font-size: 25px;
        float: left;
        color: rgba(89,122,150,1);
        margin: 0 1em 0 10%;
    }
    .menu {
        width: 50%;
        list-style: none;
        text-align: center;
        float: left;
    }
    .menu li {
        display: inline-block;
        padding: 0.5em;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .logMenu {
        width: 15%;
        color: #FFF;
        float: right;
        text-align: right;
    }
    .logMenu li { display: inline-block; padding: 0.5em;}
    .logMenu a { color: #000;}
    .register a{
        background-color: rgba(89,122,150,1);
        color: rgba(220,227,233,1);
        font-weight: bold;
        border-radius: 5px;
        padding: 0.5em
    }




/**** SLIDE **/

header {
    clear: both;
    width: 100%;
    height: 350px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    /*background-color: rgba(190,199,195,1);*/
    background: url('../images/slide1.jpg') no-repeat 50%;

}


/**** SECTIONS ***/


section {
    width: 70%;
    height: 400px;
    padding: 1em 15%;
    clear: both;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
}
    .unete {
        height: 550px;
        padding: 2em 15%;       
        overflow: hidden;
        background-image: url('../images/bg.jpg');
        background-repeat: none;
        background-size: 100%;
        
    }
        .option {
            width: 60%;
            height: 300px;
            padding: 2.5em;
            margin: 5em 0.3em;
            color: #000;
            border-radius: 5px;
            float: right;
            text-align: justify;
            background-color: rgba(220,227,233,0.5);
    
        }
        .option h2 {
            text-align: center;
            padding-bottom: 1em;
        }
        .option p {
            margin: 1em 0 2em 0;
            line-height: 2em;
        }
        .option button {
            width: 80%;
            margin: 2em 10%;
            padding: 1em;
            font-weight: bold;
            background-color: rgba(89,122,150,1);
            border: none;
            border-radius: 5px;

        }
        .option button:hover {
            
            color: rgba(0,0,0,1); 
        }



    .section-funcionamiento {
        height: 550px;
        padding: 2em 15%;
        background-color: rgba(21,157,219,1);
        /*overflow: hidden;*/
        color: #FFF;
    }
        .col {
            width: 29%;
            height: 250px;
            padding: 1%;
            margin: 0 1%;
            float: left;
            text-align: 
        }
        .col h3 {   margin-bottom: 1em; text-align: center;   }
        .col p { text-align: justify; padding: 1em 0; line-height: 2em;}
        .col img { display: block; margin: 0 auto 1em auto;}

    .section-products{
       background-color: rgba(39,83,129, 1);
        /*overflow: hidden;*/
        color: #FFF;
    } 



    .section-project {
        padding: 2em 15%;       
    }       
        .section-project h2 {
            color: rgba(87,100,117,1);
            text-align: center;            
        }

        .section-project > div {
            width: 70%;
            
        }
        .project-form{
            width: 80%;
            margin: 1em auto;
            color: #000;
        }
        .project-form input, .project-form textarea {
            display: block;
            width: 100%;
            padding: 1em;
        }
        

    .section-portfolio{
        height: 550px;
        background-color: rgba(19,53,88, 1);
        /*overflow: hidden;*/
        color: #FFF;
    }
        .section-portfolio button{
            width: 20%;
            float: left;
            padding: .5em;
            margin: 0 0.1em;
            border-radius: 0 15px 0 0;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: rgba( 43,126,126,1);
            background-color: rgba(254,254,254,1);
            cursor: pointer;
        }
        .row {
            width: 96%;
            height: 175px;
            padding: 2% 0;
            clear: both;
        }

        .items {    list-style: none;}
        .items li { float: left; margin: 0 1em;}

/********** REGISTRO *********/

#log { 
    width: 40%;  
    color: rgb(255,255,255);
    background-color:  rgba(243,246,248,1); 
    box-shadow: 1px 1px 1px 1px;   
    margin: 3em auto; 
    border-radius: 5%;
 }
.nav-register { list-style: none; }
.nav-register li { display: inline-block; }
.nav-register li a{ 
    width: 50%; 
    color: #c0c0c0;
    background-color: rgba(  0, 60, 60,1);
    padding: .5em; 
    border-radius: 5%; 
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana;

}

.nav-register .active a{  
    color: #FFF;
    background-color:  rgba(39,84,131,1);
}

#clientregiter, #profregiter, #login{
    width: 80%;
    height: 20em;
    margin: 1em 2em;
    padding: 1em;
       
}

    input, select {
        width: 95%;
        padding: 0.5em;
        border-radius: 5%;
        -webkit-box-shadow: 1px 2px 0px 0px rgba(227,224,227,1) outset;
        -moz-box-shadow: 1px 2px 0px 0px rgba(227,224,227,1) outset;
        box-shadow: 1px 2px 0px 0px rgba(227,224,227,1) outset;     
        margin: 0.5em 0;
    }

    label, select { font-size: 0.8em; font-family: Arial; font-weight: bold;}
    select { width: 100%;}
    .submit { 
        padding: 0.5em; 
        border-radius: 5px; 
        font-weight: bold;
        color: #FFF;
        background: rgba(75,174,208,1);

    }

    .submit:hover { 
        background: rgb(255,197,120); 

    }



/************ PROFILE ******/

.container {
    float: right;
    width: 95%;
    background-color: #fff;
    min-height: 100%;
    height: 100%;
    height: auto !important;
    padding-left: -5%;
    padding-bottom: -60px ;

}

.sidebar {
    float: left;
    width: 5%;
    min-height: 100%;
    height: 100%;
    height: auto !important;
    margin-bottom: -60px ;
    background-color: rgba(  3,54,73,1);
    position: fixed;
}

.profileMenu li { 
    height: 55px; 
    padding: 7.5px; 
    
}
.userName, .projects, .operations {
    background-color: rgba( 3,101,100,1);
    
}
.profileMenu li:hover { background-color: rgba(3,101,100,0.5); }
.profileMenu .logoperfil { height: 100px; color: #FFF}
/*.profileMenu .userName { background-color: rgba( 75,174,208,1);}
.profileMenu .projects { background-color: rgba(39, 74, 130,1);}
.profileMenu .operations { background-color: rgba(22,58, 96,1);}
.profileMenu .settings { background-color: rgba( 57,169, 57,1);}*/


.section-profile {
    width: 90%;
    height:700px;
    padding: 1em 2.5%;
    margin: 1em 2.5%;
    box-shadow: none;
    position: relative;
}

    .section-profile h3 {
        color: rgba( 3,101,100,1);
        border-bottom: 1px solid rgba( 3,101,100,1);
        margin-top: 1em;
    }
    

/** CREAR PROYECTO **/
    
.logProfile {
    background-color: rgba(255,255,255,.5);
    list-style: none;
    width: 25%;
    padding: 1em;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
}
    .logProfile li {
        color: #000;
        float: left;
        margin: 0 0.5em;
    }
    .logProfile li:first-child{
        font-weight: bold;
    }
    .logProfile li a:last-child {
        background-color: rgba( 3,101,100,1);
        color: #FFF;
        font-weight: bold;
        border-radius: 5px;
        padding: 0.5em
    }
    .logProfile li a:hover{
        background-color: rgba(  0, 60, 60,1);
    }



/*** MIS DATOS PROFILE ***/

.settings {

    padding: 1em 0;
}
    .settings p {
        margin: 0.5em 0;
        font-weight: bold;
        margin
    }
    .settings input {
        width: 20%;
        border: none;
        box-shadow: none;;
    }

/*** PROYECTOS ***/

.myprojects {
    padding: 1em 0;
    margin: 1em 0;
    list-style: none; 
}
    .myprojects li {
        width: 15%;
        display: inline-block;
       padding: 0.5em;
    }


.listprojects {  width: 100%; margin: 1em auto; }
.listprojects tr:hover {
    background-color: rgba(232,221,203,1);
}
.listprojects th {
    background-color: rgba(3,101,100, 0.5);
    padding: 1em;
    border: 2px solid rgba( 3,101,100,1);
}
.listprojects td {
    padding: 1em;
    border: 2px solid rgba( 3,101,100,1);
}

.addtoproject {
    background-color: rgba( 3,101,100,1);
    color: #FFF;
    border-radius: 5px;
}

/*** PLANTILLAS ***/

.mytemplates img {
    width: 100%;
}

.mytemplates td {
    padding: 1em;
    width: 14%;
}

/** DETALLE PLANTILLA **/
.templateDetail {
    border: 6px solid #000;
}

.templateDetail tr .imgtemplate {
    padding: 1em;
    width: 150%;
}


/************ FOOTER ******/

.indexfooter {
    height: 60px;
    background-color: rgba(  0, 0, 0,1);

}

.pagesfooter {
    clear: both;
    height: 60px;
    background-color: rgba(  0, 0, 0,1);
}


.templateDetail {
    width: 60%;
    margin: 0 auto;
   border: 2 dotted #000;
    text-align: justify;
    padding: 1.5em 0 1.5em 0;
}

p a.edit {
    margin: 0 1em;
    padding: 4px 12px;
    background-image: url('../images/edit.png');
    width: 24px;
    height: 24px;
}

.editInput {
    border-color: #000;
}
.dataprofile input {
    width: 300px;
}






.btn {
    background-color: rgba( 3,101,100,1);
    color: #FFF;
}

#newtemplate input {
    background-color: rgba(232,221,203,1);
}